<div class="skills">
  <h1>Skills</h1>

  <div class="wrapper">

    <div class="bloco">

      <div class="container">

        <img src="/assets/img_portfolio/ico_html5.png" alt="Icone HTML5">

        <div class="__container">
          <p class="text_Skills">HTML</p>
          <span class="rectangle"><span class="development_HTML"></span></span>
        </div>

      </div>

      <div class="container">

          <img src="/assets/img_portfolio/ico_css3.png" alt="Icone CSS3">

          <div class="__container">
            <p class="text_Skills">CSS</p>
            <span class="rectangle"><span class="development_CSS"></span></span>
          </div>

      </div>

    </div>

    <div class="bloco">
      <div class="container">

        <img src="/assets/img_portfolio/ico_js.png" alt="Icone JavaScript">

        <div class="__container">
          <p class="text_Skills">JavaScript</p>
          <span class="rectangle"><span class="development"></span></span>
        </div>

      </div>

      <div class="container">

        <img src="/assets/img_portfolio/ico_angular.png" alt="Icone Angular">

        <div class="__container">
          <p class="text_Skills">Angular</p>
          <span class="rectangle"><span class="development"></span></span>
        </div>

      </div>






  </div>

</div>
